apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: tenant-rules
  namespace: {{ tenant_id }}
spec:
  order: 100
  selector: all()
  types:
    - Ingress
    - Egress
  ingress:
    - action: Allow
      source:
        selector: all()
    - action: Allow
      source:
        namespaceSelector: kubernetes.io/metadata.name == 'envoy-gateway-system'
  egress:
    - action: Allow
      destination:
        selector: all()
