apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
    managed-by: kodeploy
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ name }}
  template:
    metadata:
      labels:
        app: {{ name }}
    spec:
      containers:
        - name: app
          image: {{ image }}
          ports:
            - containerPort: {{ port }}
      # private GHCR 이미지 pull용
      imagePullSecrets:
        - name: {{ ghcr_auth_secret }}
