apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
    managed-by: kodeploy
spec:
  selector:
    app: {{ name }}
  ports:
    - port: {{ port }}
      targetPort: {{ port }}
      protocol: TCP
  type: ClusterIP
